services:
  database:
    container_name: filez-dev-database
    image: postgres:16.4-alpine3.20
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_DB: $POSTGRES_DB

    ports:
      - "$POSTGRES_PORT:5432"
    volumes:
      - ./docker/data:/var/lib/postgresql/data
